*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

.container{
    border: 0.3rem solid black;
    display: flex;
    flex-wrap: wrap;
    /*align-items: baseline;
    height: 50vh;*/
    /*flex-wrap: wrap;
    /* justify-content: center; */
    /*justify-content: space-evenly;*/
}

.box{
    height: 10rem;
    flex-basis: 10rem;
    flex-grow: 1;
    /*width: 10rem;
    height: 10rem;*/
}

.box1{
    background-color: blue;
    flex-grow: 1;
}

.box2{
    background-color: rgb(30, 214, 174);
    flex-grow: 1;
}

.box3{
    background-color: rgb(58, 199, 45);
   /* order: 4;*/
}

.box4{
    background-color: rgb(218, 42, 224);
}

.box5{
    background-color: rgb(245, 58, 58);
}

.box6{
    background-color: rgb(195, 240, 50);
}